 /*nc_main_tablet.css*/ 
    
/*tablet 768px=====================================================*/
@media screen and (min-width:481px) and (max-width: 768px){

/*tablet common======================*/


#wrap{background-color: #ccc;}
.sub,.language,video,.section_btn_box,.video_area,.news_card_03,.news_card_04,#sectionGame{
  display: none;width: 0; height: 0; overflow: hidden;}
#nav_wrap{width: 100%;height: 100%;}

/*tablet common end====================*/

/*================================================*/


/*headder===============================================*/
#headBox{position: relative; padding: 0 4.557291vw 0 26.041666vw;/*35/768*100 200/768*100*/ box-sizing:border-box;width: 100%;height:9.765625vw;/*75/768*100*/ background-color:#333333;}

  h1{float: left;width:47.65625vw;/*366/768*100*/max-height:22.875rem;height:9.375vw;/*72/768*100*/ min-height: 1vw;}
  h1>a{display:block;width: 100%; height: 100%;background-image: url("../../../img/nc_logo.png");
    background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%;}
  .gnbBox{float: right;width:7.8125vw;/*60/768*100*/height: 100%;background-image: url("../../../img/mob_gnb_button.png");background-position: 100% 40%; background-size: 100%; }
  .gnbBox>.gnb_btn>a{display: block;width: 100%; height: 100%;}       
  .gnbBox>.gnb_btn>a:focus{background-image: url("../../../img/mob_gnb_button_x.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%;}

  .gnbBox>ul{position: absolute;top:100%;left: 0%;width: 100vw;/*768/768*100*/height: auto;}
.gnbBox>ul>li{z-index: 1000;padding-top: 4.557291vw;/*35/768*100*/display: block;width: 100%;height: 10.416666vw;/*80/768*100*/background-color: rgba(51,51,51,0.9);border-bottom: 0.0625rem solid #d8b17e;box-sizing: border-box;text-transform: uppercase;line-height: 1.3020833vw;/*10/768*100*/font-size: 2.604166vw;/*20/768*100*/text-align: center;color: #fff;font-weight: bold;font-family: "나눔고딕","arial";}
  .gnbBox>ul>li:first-child{border-top: 0.0625rem solid #d8b17e;}
  .gnbBox>ul>li:last-child{border-bottom: 0.625rem solid #d8b17e; height: 12.820512vw;/*100/780*100*/}
 .gnbBox>ul>li a{display: block;width: 100%; height: 100%;} 
.gnbBox>ul>li a{color: #fff}
.gnbBox>ul{display: none;}
.gnb_btn{width: 100%; height: 100%;}


.gnb_btn:focus + ul{display: block;}
.gnb_btn:hover + ul{display: block;}

 .gnbBox>ul>li a:focus,
 .gnbBox>ul>li a:hover{color:#d8b17e; }

/*media===================================================================*/
#media{box-shadow: inset 0 5px 10px 0 #000;padding-top: 17.708333vw;/*136/768*100*/box-sizing: border-box;width: 100%; height: 44.270833vw;/*340/768*100*/ 
  background-color: #555;background-image: url("../../../img/indi_01_02.jpg");background-position: 100% 80%;background-size: 100%;background-repeat: no-repeat;}
  .media_btn_box{padding:0 7.291666vw 0 7.291666vw;box-sizing: border-box;/*35/768*100*/width: 100%; height: auto;}

  .media_next{float:left;width: 8.333333vw;/*40/480*100*/height:14.166666vw;/*68/480*100*/ background-image: url("../../../img/left_btn.png");
  min-height:40px; min-width: 20px;background-repeat: no-repeat;background-position: 100% 100%; background-size: 90%;}

  .media_prev{float:right;width: 8.333333vw;/*40/480*100*/height:14.166666vw;/*68/480*100*/background-image: url("../../../img/right_btn.png");
  min-height:40px; min-width: 20px;background-repeat: no-repeat;background-position: 100% 100%; background-size: 90%;}
/*==================================vw 480사이즈 오류 아닙니다 냅두세요=======================================================*/
/*nav=========================================*/
#navBox{width: 100%; height:72.916666vw ;/*560/768*100*/}
 .nav_Box_01{padding: 7.8125vw 4.557291vw 5.859375vw 4.557291vw;/*60/768*100 35/768*100 45/768*100*/
    box-sizing: border-box;width: 100%; height: 50%;background-color: #333333;}
  
  .nav_Box_01>.link{padding: 5.208333vw 3.255208vw 4.557291vw 3.255208vw;/*40/768*100 25/768*100 35/768*100*/box-sizing: border-box;border-radius: 0.5rem;width: 39.0625vw;/*300/768*100*/height: 22.78645833333333vw;/*175/768*100*/background-color:#33394c }
  .nav_Box_01>.link a{display: block;width: 100%; height: 100%;}
    .link_info{float: left;}
    .link_recruit{float: right;}

  .link_text{float: right;margin-top:7vw;/*52/768*100*/text-align: center;} 
  .nav_Box_01>.link p{font-family: "나눔고딕","arial";font-size: 2.604166vw;/*20/768*100*/color:#d8b17e;font-weight: bold;}
  .nav_Box_01>.link p+p{text-transform:uppercase;color:#fff; }
  
  .link_img{float: left;width: 13.020833vw;/*100/768*100*/ height: 13.020833vw;/*100/768*100*/}
  .link_img_info{background-image: url("../../../img/main/info.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
  .link_img_recruit{background-image: url("../../../img/main/recruit.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
/*===============================================*/

 .nav_Box_02{padding: 7.8125vw 4.557291vw 5.859375vw 4.557291vw;/*60/768*100 35/768*100 45/768*100*/
    box-sizing: border-box;width: 100%; height: 50%;background-color: #fff;}
  
  .nav_Box_02>.link{padding: 5.208333vw 3.255208vw 4.557291vw 3.255208vw;/*40/768*100 25/768*100 35/768*100*/box-sizing: border-box;border-radius: 0.5rem;width: 39.0625vw;/*300/768*100*/height: 22.78645833333333vw;/*175/768*100*/background-color:#333333 }
  .nav_Box_02>.link a{display: block;width: 100%; height: 100%;}
    .link_cs{float: left;}
    .link_ir{float: right;}

  
  .nav_Box_02>.link p{font-family: "나눔고딕","arial";font-size: 2.604166vw;/*20/768*100*/color:#d8b17e;font-weight: bold;}
  .nav_Box_02>.link p+p{text-transform:uppercase;color:#fff; }
  
  .link_img_cs{background-image: url("../../../img/main/call.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
  .link_img_ir{background-image: url("../../../img/main/ir.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
/*==================================================================*/

/*sectionBox====================================*/
#sectionBox{padding: 7.8125vw 4.557291vw 7.8125vw 4.557291vw;/*60/768*100 35/768*100*/box-sizing: border-box;width: 100%; height:39.0625vw;/*300/768*100*/background-color: #333333;}
  .sectoion_banner_wrap{display: block;width: 23.4375vw;/*180/768*100*/height: 23.468057vw;background-color: #fff;}
.section_banner_wrap>ul{display: block;width: 90.885416vw;/*698/768*100*/height:23.4375vw;/*180/768*100*/}
.section_banner_wrap>ul li{display: block;float: left;width: 23.4375vw;/*180/768*100*/height: 23.468057vw;background-color: #fff;border-radius: 100%}
.section_banner_wrap>ul li a{display: block;width: 100%; height: 100%;}
.section_banner_01{background-image: url("../../../img/main/un_nc_bass.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%}
.section_banner_02{margin-left: 10.15625vw;/*78/768*100*/margin-right: 10.15625vw;/*70/768*100*/background-image: url("../../../img/main/un_nc_culture.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%}
.section_banner_03{background-image: url("../../../img/main/un_nc_blog.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%}

/*articleBox======================================================*/
#articleBox{padding: 7.8125vw 4.557291vw 0 4.557291vw;/*60/768*100 35/768*100*/box-sizing: border-box;width: 100%; height:117.1875vw;/*700/768*100*/background-color: #fff;}
 .news_cap{border-bottom: 0.0625rem solid #d8b17e;border-top:0.0625rem solid #d8b17e ;box-sizing: border-box;width: 100%; height: 7.8125vw;/*60/768*100*/min-height: 1.5625rem;}
 .articleBox_title{float: left;font-weight: bold;text-transform: uppercase;width: 31.25vw;/*150/480*100*/height:7.8125vw;/*60/768*100*/min-height: 1.5625rem;line-height: 7.8125vw;/*60/768*100*/font-size: 3.90625vw;/*/768*100*/color: #757575;}
  .more_link{margin-top:1.302083vw;/*10/768*100*/width: 10.416666vw;/*80/768*100*/height:7.8125vw;/*60/768*100*/min-height: 1.5625rem;float: right;font-size: 2.604166vw;/*20/768*100*/color: #757575;line-height: 5.208333vw;/*40/768*100*/}
  .more_link>a{display: block;width: 100%;height: 100%;}
  .card{padding: 2.604166vw 0 2.604166vw 2.604166vw;/*20/768*100*/box-shadow: 0.125rem 0.125rem 0.3125rem #333333;border-radius: 2.604166vw;/*20/768*100*/box-sizing:border-box;width: 90.885416vw;/*698/768*100*/ height: 32.552083vw;/*250/768*100*/background-color: #fff}

.news_card_01{margin: 7.8125vw 0 7.8125vw 0;/*60/768*100*/}
.news_img{float: left;width:39.0625vw;/*300/768*100*/height: 27.34375vw;/*210/768*100*/background-color: #333;overflow: hidden;}
.news_text{padding: 1.302083vw;/*10/768*100*/box-sizing: border-box;float: right;width: 48.177083vw;/*370/768*100*/height: 26.041666vw;/*200/768*100*/}

.news_text>a:nth-child(2){color: #757575;}
.news_text>a p{display:block;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;font-size: 1.953125vw;/*15/768*100*/ }
.news_text>a p:nth-child(1){width: 100%;height:5.208333vw;/*40/768*100*/font-weight: bold;color:#000}
.news_text>a p:nth-child(2){margin-top: 1.302083vw;/*10/768*100*/width: 100%;height:13.02083vw;/*100/768*100*/text-decoration: underline;color:#757575}
.news_text>a p:nth-child(3){margin-top: 3.90625vw;/*30/768*100*/width: 100%;height:2.604166vw;/*20/768*100*/color: #757575;}

/*===================================================*/

#article_02{width: 100%;height: 125vw;/*600/480*100*/;background-color: #333333}
.bg_fixed{width: 100%;height: 100%;
    background-repeat:no-repeat; background-position:50% 50%;
    background-size:120%;background-image: url("../../../img/fixed.png");box-shadow: inset 0 0.3125rem 6.25rem #000;}



/*footer===================================*/
#footBox{padding: 0 4.6875vw 0 4.6875vw;/*36/768*100*/box-sizing: border-box;width:100%; height:31.25rem;background-color: #333333;font-family: "나눔고딕" , "arial"}
  #footerWrap{padding-top: 1.25rem;box-sizing: border-box; 
             width:100%; height: 100%; background-color: #333333;}
  #footerWrap div{margin: auto ;margin-bottom: 1.25rem;}
    .family_site{width: 12.5rem; height: 1.875rem; background-color: #333333;line-height: 1.875rem;text-align: center;font-weight: bold;color:#d8b17e;text-transform: capitalize;border: 1px solid #d8b17e;box-sizing: border-box;}
      .family_btn{float: right;width:20%; height: 100%; 
                   background-color: #333333;line-height: 1.875rem;text-align: center;font-weight: bold; } 
    .footer_logo{width: 14.6875rem;height:2.8125rem;background-color: #333333;background-image: url("../../../img/foot_logo.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%; }                
    .footer_info{width: 100%;height: auto;text-align: center;color: #fff;}
    .footer_info>p{padding-top: 0.636132vw;/*5/786*100*/color: #fff;margin-bottom: 0.651041vw;/*5/768*100*/}
    .footer_info>p a{color: #fff;}
    .footer_info>p a:nth-child(2):before{content: "I "; font-family: "arial";}
    .footer_info>p a:nth-child(2):after{content: " I"; font-family: "arial";}
    .sns_link{width: 9.375rem; height: 2.5rem;background-color: #333333;} 
      .sns_link>ul>li{display: block;float: left;
                      width:2.5rem ;height:2.5rem; } 
    /*sns==================================*/
     .sns_link>ul>li:nth-child(1){background-image: url("../../../img/twitter.png");background-repeat: no-repeat;background-size: 100%;background-position: 100% 100%;}                  
     .sns_link>ul>li:nth-child(2){margin:0 10% 0 10%;background-image: url("../../../img/facebook.png");background-repeat: no-repeat;background-size: 100%;background-position: 100% 100%;}                 
     .sns_link>ul>li:nth-child(3){background-image: url("../../../img/youtube.png");background-repeat: no-repeat;background-size: 100% 105%;background-position: 100% 100%;}
    /*============================================*/
    .copy_box{padding-top: 6.510416vw;/*50/768*100*/}
    


} /*tablet 768px end==============================================*/