/*nc_main_mobile.css*/  
     
/*mobile 480px=====================================================*/
@media screen and (max-width: 480px){

/*mob common======================*/
.sub,.language,.video_area,.news_card_03,.news_card_04,video,#sectionGame{
  display: none;width: 0; height: 0; overflow: hidden;}
  #nav_wrap{width: 100%;height: 100%;}
  .section_banner{box-shadow:none;}
/*mob common end====================*/
 

/*headar=========================================*/

#headBox{position: relative;position: fixed;top:0;z-index: 1500;padding: 2.5vw 7.291666vw 3.541666vw 25.625vw;/*12/480*100 35/480*100 17/480*100 123/480*100*/box-sizing: border-box; width: 100%; height: 15.625vw;/*75/480*100*/background-color: #333333;box-shadow:  0.1875rem 0.1875rem 0.1875rem #000;
    border-bottom: 2px solid #d8b17e;}

h1{float: left;display: block;width: 49.166666vw;/*236/480*100*/ height:9.833333vw;/*46/480*100*/}
h1>a{display: block;width: 100%;height: 100%;background-image: url("../../../img/nc_logo.png");background-repeat: no-repeat;background-position: 100% 100%; background-size:100%;}


.gnbBox{float: right;
          width:8.333333vw;/*40/480*100*/ height: 8.333333vw;margin-top: 0.25rem}
.gnb_btn{position: relative;display: block; width: 100%; height: 8.333333vw;box-sizing: border-box;}
 
.gnb_btn span{display: block;width: 100%; height:0.833333vw;/*4/480*100*/background-color: #fff;
                border-radius: 0.3125rem; transition: all 500ms ease}
.bar_02{margin: 0.25rem 0 0.25rem 0 ;}

.active_btn .bar_02{height: 5%;width: 0;background-color: rgba(255,255,255,0.1);
                    transform: rotateZ(-180deg);}
.active_btn .bar_01{position: absolute;top:50%;width: 100%;
  transform:rotateY(180deg) rotateZ(45deg);}
.active_btn .bar_03{position: absolute;top:50%;width: 100%;transform:rotateY(180deg) rotateZ(-45deg);}



.gnbBox>ul{position: absolute;top:100%;left: 100%;width: 50vw;/*480/480*100*/height: auto;transition: all 150ms ease-in;}

.gnbBox>ul>li{z-index: 1000;padding-top: 3.125vw;/*15/480*100*/padding-right: 10.416666vw;/*50/480*100*/display: block;
              width: 100%;height: 10.416666vw;/*50/480*100*/background-color: rgba(51,51,51,0.9);
              border-bottom: 0.0625rem solid #d8b17e;box-sizing: border-box;text-transform: uppercase;
              line-height: 4.166666vw;/*20/480*100*/font-size: 3.125vw;/*15/480*100*/text-align: right;
              color: #fff;font-family: "나눔고딕","arial";transition: all 500ms ease-out;}
  .gnbBox>ul>li:first-child{border-top: 0.0625rem solid #d8b17e;}
  .gnbBox>ul>li:last-child{border-bottom: 0.625rem solid #d8b17e; height: 12.5vw;/*60/480*100*/}
.gnbBox>ul>li a{color: #fff;}
 .gnbBox>ul>li a:hover{color:#d8b17e; }
  
 .view_menu>ul{left: 0; display: block;width: 100vw;}

/*media==========================================*/
#media{position: relative;margin-top: 15.625vw;/*75/480*100*/width: 100%; height: 43.75vw;/*210/480*100*/overflow: hidden;background-color: #333;}
  .media_btn_box{position: absolute;top: 35%;z-index: 50;padding:0 7.291666vw 0 7.291666vw;box-sizing: border-box;/*35/480*100*/width: 100%; height: 0;}
  
  .media_next{float:right;width: 8.333333vw;/*40/480*100*/height:14.166666vw;/*68/480*100*/ background-image: url("../../../img/right_btn.png");min-height:2.5rem; min-width: 1.25rem;background-repeat: no-repeat;background-position: 100% 100%; background-size: 90%;}

  .media_prev{float:left;width: 8.333333vw;/*40/480*100*/height:14.166666vw;/*68/480*100*/background-image: url("../../../img/left_btn.png");min-height:2.5rem; min-width: 1.25rem;background-repeat: no-repeat;background-position: 100% 100%; background-size: 90%;}
 
  .indi_wrap{position: absolute;top:0;display: block;width: 300%;height: 100%;}
  .indi_wrap li{display: block;}
  .indi_img_01{float: left;width: 100vw; height: 43.75vw;/*210/480*100*/  
            background-image: url("../../../img/indi_01_02.jpg"); background-repeat: no-repeat;
                background-position: 50% 50% ;background-size: 100%;}
  .indi_img_02{float: left;width: 100vw; height: 43.75vw;/*210/480*100*/  
            background-image: url("../../../img/indi_02_02.jpg"); background-repeat: no-repeat;
                background-position: 50% 50% ;background-size: 105%;}
  .indi_img_03{float: left;width: 100vw; height: 43.75vw;/*210/480*100*/  
            background-image: url("../../../img/ceo.png"); background-repeat: no-repeat;background-position: 50% 50% ;background-size: 100%;}
  
/*nav=============================*/
#navBox{width: 100%;height: 135.416666vw;/*650/480*100*/background-color: #ccc;}

/*navBox1=======================================================*/
  .nav_Box_01{padding: 12.5vw 7.292666vw 7.292666vw 7.292666vw;/*60/480*100 35/480*100 */
    box-sizing: border-box;width: 100%; height: 50%;/*280/480*100*/background-color: #333333;}
  
  .nav_Box_01>.link{padding: 2.083333vw 0 2.083333vw 0;/*10/480*100 10/480*100*/box-sizing: border-box;border-radius: 0.5rem;border: 1px solid #d8b17e;width: 35.41666vw;/*100/480*100*/height: 36.458333vw;background-color:#333333 }
  .nav_Box_01>.link a{display: block;width: 100%; height: 100%;}
    .link_info{float: left;}
    .link_recruit{float: right;}
   
  .nav_Box_01>.link p{text-align: center;font-family: "나눔고딕","arial";font-size: 4.166666vw;/*20/480*100*/color:#d8b17e;font-weight: bold;}
  .nav_Box_01>.link p+p{margin-bottom: 1.666666vw;/*8/480*100*/text-transform:uppercase;color:#fff; }
  .link_img{margin: auto;width: 20.833333vw;/*100/480*100*/ height: 20.833333vw;/*100/480*100*/}
  .link_img_info{background-image: url("../../../img/main/info.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
  .link_img_recruit{background-image: url("../../../img/main/recruit.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}

/*navBox2===========================================================================================*/
  .nav_Box_02{padding: 5vw 7.292666vw 6.25vw 7.292666vw;/*24/480*100 35/480*100 30/480*100*/box-sizing: border-box;width: 100%; height: 50%;/*280/480*100*/background-color: #fff;}
 
  .nav_Box_02>.link{padding: 2.083333vw 3.255208vw;/*10/480*100 35/480*100*/box-sizing: border-box;border-radius: 0.5rem;width: 100%;height: 25vw;/*120/480*100*/background-color:#333333;}
  .nav_Box_02>.link a{display: block;width: 100%; height: 100%;}
  .nav_Box_02>.link .link_text{float: right;}
  .nav_Box_02>.link .link_img{float: left;}

  .link_cs{margin-bottom: 6.25vw;/*30/480*100*/}
  
  
  .nav_Box_02>.link p{font-family: "나눔고딕","arial";font-size: 4.166666vw;/*20/480*100*/color:#d8b17e;font-weight: bold;}
  .nav_Box_02>.link p+p{text-transform:uppercase;color:#fff;}
  .link_text_03{margin-right: 2.083333vw;/*10/480*100*/}
  .nav_Box_02 .link_text{margin-top: 10.416666vw;/*50/480*100*/}
  .link_img_cs{background-image: url("../../../img/main/call.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
  .link_img_ir{background-image: url("../../../img/main/ir.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
/*section============================================*/
#sectionBox{position: relative;overflow: hidden;width:100%; height: 83.333333vw;/*400/480*100*/ background-color: #33394c;}
.section_btn_box{position: absolute;top:40%;z-index: 1000;padding:0 7.291666vw 0 7.291666vw;box-sizing: border-box;/*35/768*100*/width: 100%; height: auto;}
  
  .section_next{float:right;width: 8.333333vw;/*40/480*100*/height:14.166666vw;/*68/480*100*/ background-image: url("../../../img/right_btn.png");
  min-height:2.5rem; min-width: 1.25rem;background-repeat: no-repeat;background-position: 100% 100%; background-size: 90%;}
  

  .section_prev{float:left;width: 8.333333vw;/*40/480*100*/height:14.166666vw;/*68/480*100*/background-image: url("../../../img/left_btn.png");
  min-height:2.5rem; min-width: 1.25rem;background-repeat: no-repeat;background-position: 100% 100%; background-size: 90%;}


.section_banner_wrap{padding: 20.833333vw 0 20.833333vw 0;/*100/480*100*/box-sizing: border-box;width: 100%; height: 100%;background-color:#33394c; overflow: hidden;}
  .section_banner_wrap>ul{position: absolute;top:25%;display: block;width: 300%;height: 41.666666vw;}
  .section_banner_wrap>ul li{display: block;float: left;width: 100vw;height: 41.666666vw;/*200/480*100*/}
  .section_banner_wrap>ul li a{display: block;margin:auto;width: 100%;/*200/480*100*/ height: 100%;}
  .section_banner_01{background-image: url("../../../img/main/nc_bass.png");background-repeat: no-repeat;background-size: 100%; background-position: 50% 50%}
  .section_banner_02{background-image: url("../../../img/main/nc_culture.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%}
  .section_banner_03{background-image: url("../../../img/main/nc_blog.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%}

 
  
/*article===================================================*/
#articleBox{padding: 12.5vw 7.291666vw 0 7.291666vw;/*60/480*100 35/480*100*/box-sizing: border-box;width: 100%; height: 166.666666vw;/*800/480*100*/ background-color: #fff;}
 .news_cap{border-bottom: 0.0625rem solid #d8b17e;box-sizing: border-box;width: 100%; height: 8.333333vw;/*40/480*100*/min-height: 1.5625rem;}
 .articleBox_title{float: left;font-weight: bold;text-transform: uppercase;width: 31.25vw;/*150/480*100*/height:8.333333vw;/*40/480*100*/min-height: 1.5625rem;font-size: 4.166666vw;/*20/480*100*/color: #757575}
  .more_link{margin-top:1.041666vw;/*5/480*100*/width: 12.5vw;/*60/480*100*/height:8.333333vw;/*40/480*100*/min-height: 1.5625rem;;float: right;font-size: 3.125vw;/*15/480*100*/color: #757575;}
  .more_link>a{display: block;width: 100%;height: 100%;}

  .card{padding: 4.166666vw;/*20/480*100*/box-shadow: 0.125rem 0.125rem 0.3125rem #333333;border-radius: 2.083333vw;/*10/480*100*/box-sizing:border-box;width: 85.416666vw;/*410/480*100*/ height: 52.083333vw;/*250/480*100*/
        background-color: #fff}

.news_card_01{margin: 12.5vw 0 8.333333vw 0;/*60/480*100 40/480*100*/}
.news_img{float: left;width:41.666666vw;/*200/480*100*/height: 43.75vw;/*210/480*100*/background-color: #333;overflow: hidden;}
.news_text{padding: 1.041666vw;/*5/480*100*/box-sizing: border-box;float: right;width: 33.333333vw;/*160/480*100*/height: 43.75vw;/*210/480*100*/}
.news_text>a p{display:block;overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
.news_text>a p:nth-child(1){width: 100%;height:7.291666vw;/*35/480*100*/font-weight: bold;font-size: 3.125vw;/*15/480*100*/color: #000;}
.news_text>a p:nth-child(2){margin-top: 2.083333vw;/*10/480*100*/width: 100%;height:19.791666vw;/*95/480*100*/font-size: 3.125vw;/*15/480*100*/text-decoration: underline;color:#757575; }
.news_text>a p:nth-child(3){margin-top: 8.333333vw;/*40/480*100*/width: 100%;height:4.166666vw;/*20/480*100*/font-size: 3.125vw;/*15/480*100*/color: #757575;}
/*background fixed=======================================*/

#article_02{width: 100%;height: 104.166666vw;/*480/480*100*/background-color: #333333}
.bg_fixed{width: 100%;height: 100%;
    background-repeat:no-repeat; background-position:50% 50%;
    background-size:100%;background-image: url("../../../img/fixed.png");box-shadow: inset 0 0.3125rem 6.25rem #000;}


/*footer===================================================*/
#footBox{padding: 0 7.5vw 0 7.5vw;/*36/480*100*/box-sizing: border-box; height: 28.125rem;/*450/480*100*/ background-color: #333333;font-family: "나눔고딕" , "arial"}
  #footerWrap{padding-top: 1.25rem;box-sizing: border-box; 
             width:100%; height: 100%; background-color: #333333;}
  #footerWrap div{margin: auto ;margin-bottom: 1.25rem;}
    .family_site{width: 12.5rem; height: 1.875rem; background-color: #333333;color:#d8b17e;text-transform: capitalize;
                 line-height: 1.875rem;text-align: center;font-weight: bold;border: 0.0625rem solid #d8b17e;box-sizing: border-box;}
      .family_btn{float: right;width:20%; height: 100%; 
                  line-height: 1.875rem;text-align: center;font-weight: bold;  box-sizing: border-box;} 
    .footer_logo{width: 48.958333vw;/*235/480*100*/height:9.375vw;/*45/480*100*/background-color: #333;background-image: url("../../../img/foot_logo.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%;}                
    .footer_info{width: 100%;height: auto;text-align: center;color:#fff;}
    .footer_info>p{color: #fff;margin-bottom: 0.625rem;}
    .footer_info>p a{color: #fff;}
    `.footer_info>p a:nth-child(2):before{content: "I "; font-family: "arial";}
    .footer_info>p a:nth-child(2):after{content: " I"; font-family: "arial";}
    .sns_link{padding-top: 0.625rem;width: 9.375rem; height: 2.5rem;background-color: #333333;} 
      .sns_link>ul>li{display: block;float: left;
                      width:2.5rem ;height:2.5rem;}
     /*sns==================================*/
     .sns_link>ul>li:nth-child(1){background-image: url("../../../img/twitter.png");background-repeat: no-repeat;background-size: 100%;background-position: 100% 100%}                  
     .sns_link>ul>li:nth-child(2){margin:0 10% 0 10%;background-image: url("../../../img/facebook.png");background-repeat: no-repeat;background-size: 100%;background-position: 100% 100%}                 
     .sns_link>ul>li:nth-child(3){background-image: url("../../../img/youtube.png");background-repeat: no-repeat;background-size: 100% 105%;background-position: 100% 100%}
    /*============================================*/

     .copy_box{padding-top: 10.416666vw;/*50/480*100*/}

         
} /*mobile 480px end==============================================*/
