/*nc_main_labtop.css*/ 
       
 
/*labtop 960px=====================================================*/
@media screen and (min-width:769px) and (max-width:1366px){

/*laptop common=========== */
#wrap{width: 100%; height: auto;}
#bring_btn,#media_btn_box,.gnb_btn,.media_next,.media_prev{display: none;width: 0; height: 0; overflow: hidden;}
video{width:auto ;height:120%;}

/*laptop common end==========================================*/
#headBox{position: relative;position: fixed;top:0;z-index: 1000;box-shadow:0.125rem 0.125rem 0.625rem #000;
         padding: 1.458333vw 4.166666vw 0 4.166666vw;/*14/960*100,40/960*100*/ box-sizing: border-box;
         width: 100% ; height:9.375vw;/*90/960*100*/ background-color:#333333;}

  h1{float:left;margin: auto;width:24.583333vw;/*236/960*100*/ height:7.5vw;/*72/960*100*/background-color: #333333;}
  h1>a{display: block;width: 100% ;height: 100%;background-image: url("../../../img/nc_logo.png");
        background-repeat: no-repeat;background-size: 150%;background-position: 60% 100%;}
  .language{margin-bottom: 1.041666vw;/*10/960*100*/width:62.5vw;/*600/960*100*/height: 3.125vw;/*30/960*100*/background-color: #333333;}
  .language>a{display: block;float: right;width:12.5vw;/*120/960*100*/height: 1.5625vw;/*15/960*100*/text-transform: capitalize;font-family: "맑은고딕","arial";font-size: 0.75rem;text-align: center;background-color: #333333;color: #fff }
  .language>a:hover{color: #d8b17e}
  .gnbBox{float: right; width: 62.5vw;/*600/960*100*/ 
       height:1.875rem;background-color: #333333;}
    .gnbBox>ul>li{display: block;float:left;padding:0.5rem;width: 20%; height: 100%;box-sizing: border-box;text-align: center;font-weight: bold;
      font-size:0.75rem;font-family: "나눔고딕","arial";text-transform: uppercase;}
    .main_gnb> a{color: #fff}
    .main_gnb> a:hover,
    .main_gnb> a:focus{color: #d8b17e;}
   /* .main_gnb a:hover+ul,
    .main_gnb a:focus+ul{display: block;}*/
    .sub{display: none;position: absolute;padding-top: 1.25rem;top:100%;z-index: 1000;
      width:12.5vw;/*120/960*100*/height: 23.75rem;background-color: rgba(51,51,51,0.5);
      box-sizing: border-box;}  
    .sub>li{display: block;width:12.5vw;/*120/960*100*/height: 40px;border-left: 0.5px solid #d8b17e;}  
    .sub>li a{display: block;margin:auto;width: 10.416666vw;/*100/960*100*/ height: 15px;color: #fff;}
    .sub>li a:focus,
    .sub>li a:hover{color:#d8b17e;background-color: rgba(51,51,51,0.4)}
  
    
    
    
    
      
      
    
/*media==========================================*/
#media{position: relative;width:100%; height:56.25vw;/*540/960*100*/background-color:#333333;overflow: hidden;}
  video{position: absolute;top: 50%; left: 50%; transform:translate(-50%,-50%);width: 100%; height: 100%;min-width: 100%; min-height: 100%;}
  
 
  /*무조건 가운데로 재생시키는법 {position: absolute;top: 50%; left: 50%; transform:translate(-50%,-50%);width: auto; height: auto;min-width: 100%; min-height: 100%}*/

/*navBox=================================================================*/

#navBox{width: 100%;min-width:15.625rem;max-height: 12.5rem;height: 0;box-sizing: border-box;background-color: #333333; }
#nav_wrap{position: relative;background-color: #333333;}

 .nav_Box_01{position: absolute;top:-12.5rem;right: 50%;float: left;padding-top:1.25rem;
  box-sizing: border-box;width: 31.25vw;/*300/960*100*/ max-width: 17.5rem;height: 41.666666vw;/*400/960*100*/max-height:25rem;}
  .link{padding: 4.6875vw 3.125vw 0 3.125vw;/*45/960*100 30/960*100*/margin:auto;/*50/960*100 20/960*100*/box-sizing: border-box;width: 100%;height: 17.708333vw;/*170/960*100*/max-height: 10.625rem;background-color:#333333 ;}
  

  .nav_Box_01>.link a{display: block;width: 100%; height: 100%;}
    .nav_control>.link a:hover .link_text p{color: #d8b17e;}

  

  .link_text{float: right;margin-top: 4.166666vw;/*40/960*100*/;text-align: center;} 
  .nav_Box_01>.link p{font-family: "나눔고딕","arial";font-size: 0.75rem;color:#d8b17e;font-weight: bold;}
  .nav_Box_01>.link p+p{text-transform:uppercase;color:#fff; }
  
  .link_img{float: left;width: 8.333333vw;/*80/960*100*/max-width: 5rem; height: 8.333333vw;/*80/960*100*/max-height:5rem;}
  .link_img_info{background-image: url("../../../img/main/info.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
  .link_img_recruit{background-image: url("../../../img/main/recruit.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
/*===============================================*/

.nav_Box_02{position: absolute;top:-12.5rem;left: 50%;float: left;padding-top:1.25rem;padding-right: 1.041666vw;/*10/960*100*/ box-sizing: border-box;
            width: 31.25vw;/*300/960*100*/ max-width: 17.5rem;height: 41.666666vw;/*400/960*100*/max-height:25rem;}
  

  .nav_Box_02>.link a{display: block;width: 100%; height: 100%;}

  
  .nav_Box_02>.link p{font-family: "나눔고딕","arial";font-size: 0.75rem;color:#d8b17e;font-weight: bold;}
  .nav_Box_02>.link p+p{text-transform:uppercase;color:#fff; }
  
  .link_img_cs{background-image: url("../../../img/main/call.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}
  .link_img_ir{background-image: url("../../../img/main/ir.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%}

    .link_info> a:hover .link_img_info{background-image: url("../../../img/main/info_hover.png");background-size: 90%;}
    .link_recruit> a:hover .link_img_recruit{background-image: url("../../../img/main/recruit_hover.png");background-size: 90%;}
    .link_cs> a:hover .link_img_cs{background-image: url("../../../img/main/call_hover.png");background-size: 90%;}
    .link_ir> a:hover .link_img_ir{background-image: url("../../../img/main/ir_hover.png");background-size: 90%;}

/*serviceBox==========================================================================================*/

#serviceBox{padding: 26.041666vw 4.166666vw 0 4.166666vw ;/*250/960*100 40/960*100*/ box-sizing: border-box;width: 100%; height: 41.666666vw;/*400/960*100*/background-color: #ffffff;}
.service_wrap{width: 91.666666vw;/*880/960*100*/height:auto ;}
.service{display: block;float: left;width: 29.166666vw;/*280/960*100*/height: 9.166666vw;/*88/960*100*/}
.service_mob{margin-left: 2.083333vw;margin-right: 2.083333vw;/*20/960*100*/}
.service>a{display: block;width: 100%; height: 100%;}

.service_mmorpg>a{background-image: url("../../../img/main/mmorpg_laptop.png");background-repeat: no-repeat;background-size: 100%;background-position: 50% 0%;}
.service_mob>a{background-image: url("../../../img/main/mobile_laptop.png");background-repeat: no-repeat;background-size: 100%;background-position: 50% 0%;}
.service_casual>a{background-image: url("../../../img/main/casual_laptop.png");background-repeat: no-repeat;background-size: 100%;background-position: 50% 0%;}

.service_mmorpg>a:hover{z-index: 500;height: 20.833333vw;/*200/960*100*/
            background-image: url("../../../img/main/mmorpg_laptop_down.png");transition:ease 100ms;border-radius: 8px;box-shadow:0.1875rem 0.1875rem 0.375rem  #000; }
.service_mob>a:hover{z-index: 500;height: 20.833333vw;/*200/960*100*/
            background-image: url("../../../img/main/mobile_laptop_down.png");transition:ease 100ms;border-radius: 8px;box-shadow:0.1875rem 0.1875rem 0.375rem  #000; }
.service_casual>a:hover{z-index: 500;height: 20.833333vw;/*200/960*100*/
            background-image: url("../../../img/main/casual_laptop_down.png");transition:ease 100ms;border-radius: 8px;box-shadow:0.1875rem 0.1875rem 0.375rem  #000; }
/*===============================================================================*/
#sectionBox{padding: 6.25vw 4.166666vw 0 4.166666vw;/*60/960*100 40/960*100*/width: 100%;height: auto;/*250/960*100*/ background-color: #333333;box-sizing: border-box;overflow: hidden;}


  .section_banner_wrap{margin:auto;display: block;width: 91.666666vw;/*880/960*100*/max-width:55rem ;height: 18.75rem;/*150/960*100*/background-color: #333333;}
.section_banner_wrap>ul{display: block;margin: auto;}
.section_banner_wrap>ul li{display: block;float: left;width: 15.625vw;/*150/960*100*/max-width:9.375rem;height: 15.625vw;max-height:9.375rem;background-color: #fff;border-radius: 100%}
.section_banner_wrap>ul li a{display: block;width: 100%; height: 100%;}
.section_banner_01{margin-left: 6.818181%;background-image: url("../../../img/main/un_nc_bass.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%}
.section_banner_02{margin-left: 18.181818%;/*160/960*100*/margin-right: 18.181818%;/*160/960*100*/background-image: url("../../../img/main/un_nc_culture.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%}
.section_banner_03{background-image: url("../../../img/main/un_nc_blog.png");background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%}




/*====================================================================================================*/
#articleBox{padding: 6.25vw 4.166666vw 0 4.166666vw;/*60/960*100 40/960*100*/box-sizing: border-box;width: 100%; height:62.5vw;/*600/960*100*/background-color: #fff;}
 .news_cap{border-bottom: 5px solid #d8b17e;box-sizing: border-box;margin-bottom: 2.5rem;width: 100%; height: 4.166666vw;/*40/960*100*/min-height: 1.5625rem;background-color: #333333}
 .articleBox_title{float: left;font-weight: bold;text-transform: uppercase;width: 15.625vw;/*150/960*100*/height:6.25vw;/*60/960*100*/min-height: 1.5625rem;line-height: 4.166666vw;/*40/960*100*/font-size: 0.9375rem;color: #d8b17e;text-indent: 0.625rem}
  .more_link{width: 10.416666vw;/*80/768*100*/height:7.8125vw;/*40/960*100*/min-height: 1.5625rem;float: right;font-size: 2.604166vw;/*20/768*100*/color: #757575;line-height: 4.166666vw;/*40/960*100*/}
  .more_link>a{display: block;width: 100%;height: 50%;font-size: 0.9375rem;color: #fff;text-indent: 15px}
  .more_link>a:hover,
  .more_link>a:focus{color: #d8b17e; }
  .card_wrap{width: 100%;height: 36.458333vw;/*350/960*100*/}
  .card{float: left;padding:1.041666vw;margin-right: 1.979166vw;/*19/960*100*/box-shadow: 0.125rem 0.125rem 0.3125rem #333333;border-radius: 1.5625vw;/*15/960*100*/box-sizing:border-box;width: 20.833333vw;/*200/960*100*/ height: 36.458333vw;/*350/960*100*/background-color: #fff}
  .card:last-child{margin-right: 0;}
 .news_card_01{margin-top: 1.875rem;}
 .news_card_02{margin-top: 1.875rem;}
 .news_card_03{margin-top: 1.875rem;}
 .news_card_04{margin-top: 1.875rem;}
  
.news_img{width:18.75vw;/*180/960*100*/height: 15.625vw;/*150/960*100*/background-color: #333;overflow: hidden;}
.news_text{box-sizing: border-box;width: 18.75vw;/*180/960*100*/height: 18.75vw;/*180/960*100*/overflow: hidden;}

.news_text>a:nth-child(2){color: #757575;}
.news_text>a p{display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 0.75rem;/*12/768*100*/width: 18.75vw; }
.news_text>a p:nth-child(1){margin-top: 1.041666vw;/*10/960*100*/width: 100%;/*180/960*100*/height:3.125vw;/*30/960*100*/font-weight: bold;color:#000;}
.news_text>a p:nth-child(2){margin-top: 1.041666vw;/*10/960*100*/width:100%;/*180/960*100*/height:4.166666vw;/*60/960*100*/text-decoration: underline;color:#757575;}
.news_text>a p:nth-child(3){margin-top:4.166666vw;/*40/960*100*/width: 100%;/*180/960*100*/height:3.125vw;/*30/960*100*/color: #757575;}


 
/*banner===============================================================*/
#article_02{width: 100%;height:31.25rem;}

  .bg_fixed{width: 100%;height: 100%;
    background-repeat:no-repeat; background-position:50% 50%;
    background-size:cover;background-image: url("../../../img/fixed.png");box-shadow: inset 0 0.3125rem 6.25rem #000;background-attachment: fixed;}


/*footBox======================================================*/
#footBox{padding:0 2.5rem 0 2.5rem;box-sizing: border-box;width:100%; height:41.666666vw;/*400/960*100*/ max-height: 25rem; background-color: #333333;}
 #footerWrap{padding-top: 1.25rem;box-sizing: border-box; 
             width:100%; height: 100%; background-color: #333333;}
  #footerWrap div{margin-bottom: 1.25rem;}
    .family_site{margin-top: 0.9375rem ;float: right;width: 12.5rem; height: 1.875rem; background-color: #333333;line-height: 1.875rem;text-align: center;font-weight: bold;color:#d8b17e;text-transform: capitalize;border: 0.0625rem solid #d8b17e;box-sizing: border-box;}
      .family_btn{float: right;width:20%; height: 100%; background-color: #333333;line-height: 1.875rem;text-align: center;font-weight: bold;  } 
    .footer_logo{width: 14.6875rem;height:2.8125rem;background-color: #333333;background-image: url("../../../img/foot_logo.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%; }                
    .footer_info{float:left;width: 50%;height: 50%;color: #fff}
  .footer_info>p{padding-top: 0.520833vw;/*5/960*100*/color: #fff;margin-bottom: 0.520833vw;/*5/960*100*/}  
  .footer_info>p a{color: #fff;}
  .footer_info>p a:nth-child(2):before{content: "I "; font-family: "arial";}
  .footer_info>p a:nth-child(2):after{content: " I"; font-family: "arial";}

    .sns_link{float: right;margin-top:8.333333vw;/*80/960*100*/width: 9.375rem; height: 2.5rem;background-color: #333333;} 
      .sns_link>ul>li{display: block;float: left;width:2.5rem ;height:2.5rem; } 
/*snsimg=================================================================*/
     .sns_link>ul>li:nth-child(1){background-image: url("../../../img/twitter.png");background-repeat: no-repeat;background-size: 100%;background-position: 100% 100%;}                  
     .sns_link>ul>li:nth-child(2){margin:0 10% 0 10%;background-image: url("../../../img/facebook.png");background-repeat: no-repeat;background-size: 100%;background-position: 100% 100%;}                 
     .sns_link>ul>li:nth-child(3){background-image: url("../../../img/youtube.png");background-repeat: no-repeat;background-size: 100% 105%;background-position: 100% 100%;}
           .fb{margin: 0 0.9375rem 0 0.9375rem;}   
/*============================================*/       


   .copy_box{float: right;margin-top:1.25rem ; width: 100%; height: 1.25rem; font-size: 0.125rem;text-align: center;}
  
} /*labtop 960px end==============================================*/


