/*nc_sub_info_laptop.css*/ 
  
 
/*labtop 960px=====================================================*/
@media screen and (min-width:769px) and (max-width:1366px){

/*laptop common=========== */
#wrap{position: relative;width: 100%; height: auto;}
video,#bring_btn,#media_btn_box,.gnb_btn,.media_next,.media_prev{display: none;width: 0; height: 0; overflow: hidden;}


/*laptop common end==========================================*/
#headBox{position: relative;position: fixed;top:0;z-index: 1000;box-shadow:0.125rem 0.125rem 0.625rem #000;
         padding: 1.458333vw 4.166666vw 0 4.166666vw;/*14/960*100,40/960*100*/ box-sizing: border-box;
         width: 100% ; height:9.375vw;/*90/960*100*/ background-color:#333333;}

  h1{float:left;margin: auto;width:24.583333vw;/*236/960*100*/ height:7.5vw;/*72/960*100*/background-color: #333333;}
  h1>a{display: block;width: 100% ;height: 100%;background-image: url("../../../img/nc_logo.png");
        background-repeat: no-repeat;background-size: 150%;background-position: 60% 100%;}
  .language{margin-bottom: 1.041666vw;/*10/960*100*/width:62.5vw;/*600/960*100*/height: 3.125vw;/*30/960*100*/background-color: #333333;}
  .language>a{display: block;float: right;width:auto;height: auto;text-transform: capitalize;font-family: "맑은고딕","arial";font-size: 0.75rem;text-align: center;background-color: #333333;color: #fff }
  .language>a:hover{color: #d8b17e}
  .gnbBox{float: right; width: 62.5vw;/*600/960*100*/ 
       height:1.875rem;background-color: #333333;}
  
   .gnbBox>ul>li{display: block;float:left;padding:0.5rem;width: 20%; height: 100%;box-sizing: border-box;text-align: center;font-weight: bold;
    font-size:0.75rem;font-family: "나눔고딕","arial";text-transform: uppercase;}
    .main_gnb> a{color: #fff}
     .main_gnb> a:hover,
     .main_gnb> a:focus{color: #d8b17e;}
     .main_gnb a:hover+ul,
     .main_gnb a:focus+ul{display: block;}
    
      
    .sub{display: none;position: absolute;padding-top: 20px;top:100%;z-index: 1000;width:12.5vw;/*120/960*100*/height: 380px;
      background-color: rgba(51,51,51,0.5);box-sizing: border-box;}  
    
    .sub>li{display: block;width:12.5vw;/*120/960*100*/height: 40px;border-left: 0.5px solid #d8b17e;}  
    
    .sub>li a{display: block;margin:auto;width: 10.416666vw;/*100/960*100*/ height: 15px;color: #fff;}
    
    .sub>li a:focus,
    .sub>li a:hover{color:#d8b17e;background-color: rgba(51,51,51,0.4)}
      
    
/*media==========================================*/
#media{position: relative;width:100%; height:46.875vw;/*450/960*100*/background-color:#333333;
      background-image: url("../../../img/nc_sub_info/media_img_01.jpg");background-repeat: no-repeat;
      background-position: 50% 30%; background-size: 100%}

/*section page bar=======================================*/

#pageBar{padding:0 6.25vw 0 6.25vw;/*60/960*100*/box-sizing: border-box;width: 100%;height: 6.25vw;/*60/960*100*/background-color: #333333;}

#pageBar>p{float: left;display: block;font-size: 2.083333vw;/*20/960*100*/color:#d8b17e;width: 7.5rem;
  line-height:6.25vw;/*60/960*100*/text-transform:capitalize;font-family: "나눔고딕","arial";}
.page_nav{float: right;font-family: '나눔고딕','arial';font-weight: normal;}
.page_nav p{float: left;font-size: 0.9375rem;color: #fff;text-indent: 0.625rem;line-height: 6.25vw/*60/960*100*/;}
.page_nav p a{color: #fff;font-weight: bold;font-weight: 0.9375rem;font-style: normal;}
.page_nav p:nth-child(3){color: #d8b17e;}
 
.page_nav p:nth-child(2):before{content: ">";}
.page_nav p:nth-child(3):before{content: ">";}
/*sideBox==================================================================================  */
#sideBox{position: absolute;top:53.125vw;/*510/960*100*/left:4.166666vw;/*40/960*100*/width: 14.583333vw;/*140/960*100*/height: auto; background-color: #757575;}
  .fixed_menu_wrap{margin-top: 0.625rem;margin-bottom: 1.25rem;}
  .fixed_menu_wrap ul li{display: block;width: 100%;height:2.1875rem;margin-bottom: 0.3125rem;}
    .fixed_menu_wrap ul li a{display: block;color: #fff;font-size: 0.9375rem;line-height: 2.1875rem;text-align: center;
      font-family: '나눔고딕','arial';}
       .fixed_menu_wrap ul li a:hover,
      .fixed_menu_wrap ul li a:focus{color:#d8b17e }
/*conbox=========================================================================*/
#conBox{width: 100%;height: auto;background-color: #fff;}
.contents_wrap{padding-left: 23.958333vw;/*230/960*100*/box-sizing: border-box;margin:auto;width: 91.666666vw;/*880/960*100*/max-width: 55rem;
              height: auto;background-color: #fff;margin-bottom:4.166666vw;/*40/960*100*/ }
.head_text{padding-top: 0.9375rem;box-sizing: border-box;margin-top:3.75rem ;width: 100%;max-width: 87.5rem;height: 6.25rem;background-color: #333333;}
.head_text p{font-size: 1.25rem;color: #d8b17e;font-family: 'Nanum Myeongjo', 'arial';font-weight: 600;} 
   .head_text p:nth-child(1){margin-left: 22%;}
   .head_text p:nth-child(2){margin-left: 40%;margin-top: 0.3125rem;}
.info_contents{margin:auto;width:100%;height: auto;background-color: #fff;}
.img_box{display: block;width: 100%;height: 17.5rem;max-height: 26.25rem;background-image: url("../../../img/nc_sub_info/007.jpg");
      background-repeat: no-repeat;background-position: 50% 50%; background-size: 100%;}
.img_text{padding: 2.8125rem 5.113636% 0 4.166666%;box-sizing: border-box;display: block;width: 100%;max-width: 87.5rem;height: 10rem;background-color: #333333;}
 .img_text p{float: left;display: block;font-family: '나눔고딕','arial';color: #fff;
              font-size: 0.9375rem;/*15/1920*100*/width: auto;} 
  .img_text p:nth-child(1), 
  .img_text p:nth-child(2){font-weight: bold;}
  .font_color{color:#d8b17e;}

  .company_box{padding-left: 23.958333vw;/*230/960*100*/box-sizing: border-box;margin:auto;width: 91.666666vw;/*880/960*100*/
              height: 14.375rem;background-color: #fff;}
.company_img{float: left;width: 33.854166vw;/*325/960*100*/ height: 23.958333vw;/*230/960*100*/max-height: 25rem;background-image:url("../../../img/nc_sub_info/company.jpg");background-repeat: no-repeat;background-size: 100%; background-position: 50% 50%;} 
  .company_title{text-indent: 0.625rem;margin-bottom: 0.625rem;margin-top: 5%;}
  .company_text{float: left;width: 33.854166vw;/*325/960*100*/max-width: 40.625rem;height: 23.958333vw;/*230/960*100*/}
  
    .company_text dl dt{margin-bottom: 0.3125rem;float: left;display: block;width: 39.5%;
            font-weight: bold;height:0.625rem;font-size:12px;text-indent: 0.3125rem;}
    .company_text dl dd{margin-bottom: 0.3125rem;float: left;display: block;
              width: 60.5%;height:1.25rem;font-size: 0.75rem;}            
    .dd_out_sider{margin-left: 39.5%;}

  .bottom_text{width: 100%; height: 8.75rem;background-color: #333333;margin-top: 8.75rem;}
  .bottom_text_wrap{padding-top:2.5rem;box-sizing:border-box;margin: auto;margin-bottom: auto;width: 46.875rem;height: 100%;}
  .bottom_text p{float: left;display: block;width: auto;color:#fff;font-size: 1.25rem;}

  .bottom_text p:nth-child(1),
  .bottom_text p:nth-child(2){color:#d8b17e;margin-bottom: 0.3125rem}
  .bottom_text p:nth-child(2){text-indent: 0.3125rem;}
  
/*banner===============================================================*/
#article_02{width: 100%;height:15.625rem;}

  .bg_fixed{width: 100%;height: 100%;
    background-repeat:no-repeat; background-position:50% 100%;background-size: 180%;
    background-image: url("../../../img/nc_sub_info/project_lt_pc.jpg");box-shadow: inset 0 0.3125rem 6.25rem #000;
    background-attachment: fixed;background-color: #333333;}


/*footBox======================================================*/
#footBox{padding:0 2.5rem 0 2.5rem;box-sizing: border-box;width:100%; height:41.666666vw;/*400/960*100*/ max-height: 25rem; background-color: #333333;}
 #footerWrap{padding-top: 1.25rem;box-sizing: border-box; 
             width:100%; height: 100%; background-color: #333333;}
  #footerWrap div{margin-bottom: 1.25rem;}
    .family_site{margin-top: 0.9375rem ;float: right;width: 12.5rem; height: 1.875rem; background-color: #333333;line-height: 1.875rem;text-align: center;font-weight: bold;color:#d8b17e;text-transform: capitalize;border: 0.0625rem solid #d8b17e;box-sizing: border-box;}
      .family_btn{float: right;width:20%; height: 100%; background-color: #333333;line-height: 1.875rem;text-align: center;font-weight: bold;  } 
    .footer_logo{width: 14.6875rem;height:2.8125rem;background-color: #333333;background-image: url("../../../img/foot_logo.png");background-repeat: no-repeat;background-size: 100%; background-position: 100% 100%; }                
    .footer_info{float:left;width: 50%;height: 50%;color: #fff}
  .footer_info>p{padding-top: 0.520833vw;/*5/960*100*/color: #fff;margin-bottom: 0.520833vw;/*5/960*100*/}  
  .footer_info>p a{color: #fff;}

    .sns_link{float: right;margin-top:8.333333vw;/*80/960*100*/width: 9.375rem; height: 2.5rem;background-color: #333333;} 
      .sns_link>ul>li{display: block;float: left;width:2.5rem ;height:2.5rem; } 
/*snsimg=================================================================*/
     .sns_link>ul>li:nth-child(1){background-image: url("../../../img/twitter.png");background-repeat: no-repeat;background-size: 100%;background-position: 100% 100%;}                  
     .sns_link>ul>li:nth-child(2){margin:0 10% 0 10%;background-image: url("../../../img/facebook.png");background-repeat: no-repeat;background-size: 100%;background-position: 100% 100%;}                 
     .sns_link>ul>li:nth-child(3){background-image: url("../../../img/youtube.png");background-repeat: no-repeat;background-size: 100% 105%;background-position: 100% 100%;}
           .fb{margin: 0 0.9375rem 0 0.9375rem;}   
/*============================================*/       


   .copy_box{float: right;margin-top:1.25rem ; width: 100%; height: 1.25rem; font-size: 0.125rem;text-align: center;}
  
} /*labtop 960px end==============================================*/

